ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.page {
    width: 1300px;
    margin: 0 auto;
}

header {
    width: 100;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > img {
	margin-top: 30px;
}

header > nav {
	width:600px;
	height:100%;
    margin-right: 100px;
}

header ul {
    margin-top: 30px;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {

    padding: 0px 0px 0px 0px;
	
	
}
header ul > li > a{
	/* font-size:20px;
	height: 100%;
    color: black;
    text-decoration-color: black;
    font-weight: bold;
	display: inline-block; */
    width: 120px;
    height: 30px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 5px;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
	
}

.tab-container{display:flex;justify-content:center;gap:20px;margin-top:50px;font-size:18px}
header ul > li > a:hover{
	
    /* background-color: blue;
    border-radius: 30px;
    color: white; */

    height: 30px;
    color: #fff;
    background-color: rgba(30, 42, 124, 0.8);
    border-radius: 30px;
    text-decoration: none;
}
.subTitle{

    margin-top: 50px;
    font-size: 20px;
    color: #643E23;
    font-weight: bold;
}

body,html {height:100%;margin:0;padding:0;font-family:'Pretendard'}
a{text-decoration:none}
li{list-style:none}



.tab{display:none}
.tab.on{display: inline-flex}
.tab-container{display:flex;justify-content:left;gap:20px;margin-top:50px;font-size:18px }


.tabs.on{ font-size: 25px; }
.tabs{ font-size: 25px;padding:10px 20px;font-weight:700;cursor:pointer; display: flex;}
.tab_wrap{margin-top:30px;
   
     float: left;
     
    justify-content: space-between;}
.groupGallery{
    width: 350px;
    height: 280px;
    border-radius: 30px;
    cursor:pointer;
    border: 1px solid #F1F1F1; /* 테두리를 제거 */
    box-shadow: 0px 4px 20px rgba(44, 44, 44, 0.1); /* 그림자 추가 */
}

.class{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 42px;
   

}

.studyGroup{
    padding: 42px;
}


.hr-wrapper {
    position: relative; /* 자식 요소인 hr의 기준점 설정 */
    height: 5px; /* 적당한 높이 설정 */
  }
  
  /* 첫 번째 hr 기본 스타일 */
  #registration_mainHr {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border: none;
    background-color: #DAD9D9;
    z-index: 0; /* 첫 번째 hr을 위에 표시 */
    
  }
  
  /* 두 번째 hr 겹쳐진 스타일 */
  #registration_hr1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 140px;
    border: none;
    background-color:  black;
    z-index: 1; /* 두 번째 hr을 아래에 표시 */
  }

  #registration_hr2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 135px;
    height: 3px;
    width: 145px;
    border: none;
    background-color:  black;
    z-index: 1; /* 두 번째 hr을 아래에 표시 */
    display: none;
 
  }

  #tab1Icon{
    width: 30px;
    margin-right: 10px;
    
  }
  #tab2Icon{
    width: 20px;
    margin-right: 10px;
    
  }

  #makeStudyBtn-container {
    display: none;
    margin-top: 50px;
}

#makeStudyBtn{

    border-radius: 18px;
    width: 170px;
    height: 45px;
    background-color: #68BCF8;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0px;
    cursor: pointer;
}
  #tabBtn-container{
    display: flex;
    justify-content: space-between;
  }
